{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">{% if company %}{{ company.title }}'s e{% else %}E{% endif %}mployees</h1>
    <hr>
    {% if employees %}
    <div class="row d-flex justify-content-between">
        {% for employee in employees %}
            <div class="card m-3 col-md-5 col-lg-3">
                <div class="card-body">
                    <h4 class="card-title">{{ employee.name }}</h4>
                    <hr>
                    <p class="card-text">{{ employee.position }}</p>
                    <p class="card-text text-muted">{{ employee.email }}</p>
                    <div class="d-flex justify-content-start">
                        <a href="{{ url_for('employee.employee_profile', id=employee.id) }}" class="card-link">Profile</a>
                        <a href="{{ url_for('employee.employee_deletion', id=employee.id) }}" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-center pt-100 text-muted">There is no employees yet.</p>
    {% endif %}
    <hr>
    <div class="d-flex flex-column text-center">
        <p class="text-secondary">Want to create a employee? Press the button below.</p>
        <a class="btn btn-primary" href="{{ url_for('employee.employee_creation') }}" role="button">Create Employee</a>
    </div>

</div>
{% endblock %}
