{% extends "base.html" %}

{% block content %}
<div class="container">
  <hr>
  <h1>About the portfolio</h1>
  <hr>
    <p>To use all the tabs you need to be logined to your account.</p>
    <p>In the portfolio you can Register and then Login to your account.</p>
    <p>In the tab "Companies" you can create companies and add employees to that.</p>
    <p>In the tab "Employees" you can create employees and see the list of employees.</p>
    <p>In the tab "Upload CSV" you can upload file type of csv and see the content in the tab "Recipients".</p>
  <hr>
  <h1>About me</h1>
  <hr>
  <p> I am a Junior Python Developer. Currently, I’m studying and working on my own projects to become a better developer. 
    I am a budding professional with enormous potential as well as willing to learn. I always learn and discover the new, 
    enjoy working in a team and with motivating and inspiring colleagues.</p>
  

  
</div> 

{% endblock %}
